{% extends 'wrapper.html' %}
{% block title %}
    Профиль
{% endblock %}
{% block signup_active %}
    active
{% endblock %}
{% block includes %}
    <script>
        function readUrl(input) {
            if(input.files && input.files[0]){
                var file = input.files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    document.getElementById("avatar_image").src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <form action="{% url 'users_app:edit_profile' request.user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form %}
                {{ form.as_p }}

            {% else %}

            <img style="width: 10%; height: 10%" id="avatar_image" src="\media\{{profile_form.avatar}}" alt="avatar"><br><br>
                <button id="files" onclick="document.getElementById('id_avatar').click(); return false">Upload Image</button>
                <input type="file"  style="visibility: hidden" onchange="readUrl(this); return false;" name="avatar" accept="image/*" id="id_avatar" >
                <br><br>
                <div class="form-group">
                <label for="first_name">First Name
                    <input type="text" id="first_name" name="first_name" placeholder="FirstName" value="{% if profile_form.first_name %}{{ profile_form.first_name }}{% endif %}" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name
                    <input type="text" id="last_name" name="last_name" placeholder="LastName" value="{% if profile_form.last_name %}{{ profile_form.last_name }}{% endif %}" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="birth_date">Birth Date
                    <input type="date" id="birth_date" name="birth_date" value={{ profile_form.birth_date }} class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="interests">Interests
                    <textarea class="form-control" id="interests" name="interests" rows="3" cols="100">{% if profile_form.interests %}{{ profile_form.interests }}{% endif %}
                    </textarea>
                </label>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="is_private">
                    Private profile: <input type="checkbox" id="is_private" name="is_private"/>
                </label>
            </div>
            <div id="message" style="font-size: 14px; color: red">{{ message }}</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success btn-lg">
            </div>
            <a href="{% url 'home_app:home' %}" class="btn btn-link" style="padding-left: 0%">Home Page</a><br>


        </form>
    </div>
{% endblock %}