{% extends 'wrapper.html' %}
{% block title %}
    Вход
{% endblock %}
{% block signup_active %}
    active
{% endblock %}
{% block content %}
    <div style="width: 20%;
                padding: 1%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2%;
                border-radius: 10px;
                background: linear-gradient(275deg, #EECFBA, #C5DDE8)" class="row h-100 justify-content-center align-items-center">
        <form action="{% url 'users_app:login' %}" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label for="mail">Mail
                    <input type="text" id="mail" name="mail" placeholder="Email" value="{{ form.mail }}" class="form-control">
                </label>
                {% if errors.mail_ex%}
                    {% for ex in errors.mail_ex %}
                        <p style="font-size: 14px; color: red">{{ ex }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Password<br>
                    <input type="password" id="password" name="password" placeholder="Password" value="{{ form.password }}"class="form-control">
                </label>
            </div>
        {% if login_error %}
            <div role="alert" style="padding-bottom: 5%; padding-top: 1%; color: red">
                {{ login_error }}
            </div>
        {% endif %}
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success btn-lg">
            </div>
            <a href="{% url 'home_app:home' %}" class="btn btn-link" style="padding-left: 0%">Главная страница</a><br>
        </form>
    </div>
{% endblock %}