{% extends 'wrapper.html' %}
{% block title %}
    Уведомления
{% endblock %}
{% block signup_active %}
    active
{% endblock %}
{% block content %}
    <div class="container">
        <div class="list-group">
        <ol>
            {% for notification in notifications %}
                <div class="Notification">
                <li class="list-group-item">
                    <div style="margin:0; width: 60%">
                        <a href="{% url 'users_app:profile' notification.sender.id %}" class="btn-link">{{notification.sender}}</a>
                        <p class="list-group-item-text">{{ notification.text }}</p>
                        <h6>{{ notification.receiving_time }}</h6>
                    </div>
                <div style="position:absolute; right: 0; top:35%; width: 40%; float: right">
                    {% if notification.is_request %}
                        <a href="{% url 'users_app:perm_acc' notification.sender.id%}" class="btn btn-success">Одобрить</a>
                        <a href="{% url 'users_app:delete_notification' notification.id %}" class="btn btn-light">Скрыть</a>
                    {% endif %}
                </div>
                </div>
                </li>
            {% endfor %}
        </ol>
        </div>
    </div>
{% endblock %}