{% extends 'wrapper.html' %}
{% block title %}
    Профиль
{% endblock %}
{% block signup_active %}
    active
{% endblock %}
{% block content %}
    <div class="container" style="border-color: #007bff; margin-top: 2%">
        {% load static %}
        <p><img src="{{ profile_form.avatar.url }}" alt="image" style="border-radius: 10px; width:10%"></p>
        <p>FirstName: {% if profile_form.first_name %}{{ profile_form.first_name }}{% endif %}</p>
        <p>LastName: {% if profile_form.last_name %}{{ profile_form.last_name }}{% endif %}</p>
        <p>BirthDate: {% if profile_form.birth_date %}{{ profile_form.birth_date }}{% endif %}</p>
        <p>Interests: {% if profile_form.interests %}{{ profile_form.interests }}{% endif %}</p>
        {% if request.user.id == profile_form.user_id %}
        <a href="{% url 'users_app:edit_profile' request.user.id %}" class="btn btn-success btn-lg" style="padding-left: 0%">Edit</a><br>
        {% endif %}
    </div>
{% endblock %}