{% extends 'wrapper.html' %}
{% block includes %}
    {% load staticfiles %}
    <script type="text/javascript" src={% static "js/password_validation.js" %}></script>

{% endblock %}
{% block title %}
    Регистрация
{% endblock %}
{% block signup_active %}
    active
{% endblock %}
{% block content %}
    <div style="width: 20%;
                padding: 1%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2%;
                border-radius: 10px;
                background: linear-gradient(275deg, #EECFBA, #C5DDE8)" class="row h-100 justify-content-center align-items-center">
        <form action="{% url 'users_app:signup' %}" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username
                    <input type="text" id="username" name="username" placeholder="Username" value="{{ form.name }}" class="form-control">
                </label>
                {% if errors.name_ex%}
                    {% for ex in errors.name_ex %}
                        <p style="font-size: 14px; color: red">{{ ex }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Mail
                    <input type="text" id="email" name="email" placeholder="Email" value="{{ form.mail }}" class="form-control">
                </label>
                {% if errors.mail_ex%}
                    {% for ex in errors.mail_ex %}
                        <p style="font-size: 14px; color: red">{{ ex }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Password<br>
                    <input type="password" id="password" name="password" placeholder="Password" value="{{ form.password }}" class="form-control" onkeyup="checkPass(); return false;" />
                    <input style="margin-top: 2px" name="repeatpassword" type="password" placeholder="confirm Password" id="pass2" class="form-control" onkeyup="checkPass(); return false;" />
                    <div id="error-nwl" style="font-size: 14px; color: red"></div>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-success btn-lg">
            </div>
            <a href="{% url 'home_app:home' %}" class="btn btn-link">Главная страница</a><br>

        </form>
    </div>
{% endblock %}