{% extends 'wrapper.html' %}
{% block title %}
    Профиль
{% endblock %}
{% block includes %}
    <script>
        function readUrl(input) {

            var reader = new FileReader();
            var imgList = document.getElementById('image_list');
            var el;

            reader.onloadend = function () {



                    el.setAttribute("src", reader.result);

                    imgList.appendChild(li);
                };
            for(var i = 0; i < input.files.length; ++i){
                var li = document.createElement("li");
                li.setAttribute("style", "list-style-type: none")
                a = input.files[i].name.split('.');
                var ext = a[a.length-1];
                if(ext === "png" || ext === "jpeg" || ext === "gif" || ext === "jpg")
                    el = document.createElement("img");
                else if(ext === "avi" || ext === "mp4")
                    el = document.createElement("video");
                else
                    el = document.createElement("audio");
                el.setAttribute("style", "height: 100px");
                reader.readAsDataURL(input.files[i]);
                li.appendChild(el);
            }

        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <form action="{% url 'posts_app:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <label for="title">Title
                    <input contenteditable="true" type="text" id="title" name="first_name" placeholder="Title" value="{% if profile_form.first_name %}{{ profile_form.first_name }}{% endif %}" class="form-control">
                </label>
                </div>
                <div class="form-group">
                <label for="text">Text
                    <textarea class="form-control" id="text" name="text" rows="3" cols="100" placeholder="Text"></textarea>
                </label>
                </div>
        <div class="form-group">
            <ul id="image_list">

            </ul>
            <button id="files" onclick="document.getElementById('id_attachments').click(); return false;">Upload files</button>
            <input type="file" onchange="readUrl(this); return false;" style="visibility: hidden" name="attachments" accept="image/*, video/*" id="id_attachments" multiple>
        </div>

            <div id="message" style="font-size: 14px; color: red">{{ message }}</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-lg">
            </div>
            <a href="{% url 'home_app:home' %}" class="btn btn-link" style="padding-left: 0%">Home Page</a><br>


        </form>
</div>
{% endblock %}