{% extends 'wrapper.html' %}
{% block title %}
    Запись
{% endblock %}
{% block signup_active %}
    active
{% endblock %}
{% block articles_active %}
    active
{% endblock %}
{% block includes %}

    <script type="text/javascript">
    function set_likes_data(data) {
        var json_data = JSON.parse(data);

        var profiles_data = "";
        if(json_data["likes"][0])
            profiles_data += json_data["likes"][0];
        if(json_data["likes"][1])
            profiles_data += ", " + json_data["likes"][1];
        if(json_data["likes"][2])
            profiles_data += " ...";
        document.getElementById("likes-data").innerHTML = json_data["likes_count"]
            + "&emsp;<a href=\"{% url 'posts_app:funs' post.id %}\" style=\"color: #40E0D0\">" + profiles_data + "</a>"
    }
    function change_like_state(data) {
        var like_img = document.getElementById("like-img");
        var root_img = like_img.getAttribute("src");
        if(root_img.includes("not_liked.png")){
            like_img.setAttribute("src", root_img.replace("not_", ""));
        } else{
            like_img.setAttribute("src", root_img.substring(0, root_img.indexOf('liked')) + 'not_' + root_img.substring(root_img.indexOf('liked'), root_img.length));
        }
        set_likes_data(data);
    }
    function like() {
        $.ajax({
            url: "{% url 'posts_app:like' post.id %}",
            type: "GET",
            data: ({ post_id: {{post.id}} }),
            dataType: "text",
            success: change_like_state
        })
    }
    </script>
{% endblock %}
{% block content %}
    <div class="container" style="border-color: #007bff; margin-top: 2%">
        {% load static %}
        {% autoescape on %}
        <h2 style="text-align: center">{{ post.title }}</h2>
        <p style="text-align: center">{{ post.text| linebreaksbr }}</p>
            {% for attach in attachments %}
                {% if attach.file_extension in 'jpgjpegpngbmpgifraw'%}
                    <img src="{{ attach.file.url }}" style="width: 30%" alt="{{ attach.file.name }}"/>
                {% elif attach.file_extension in 'mp4aviwmvmovm4vmpgmpegswfasf' %}
                    <video src="{{ attach.file.url }}" style="width: 30%" controls></video>
                {% else %}
                    <audio src="{{ attach.file.url }}" controls></audio>
                {% endif %}
            {% endfor %}
        {% endautoescape %}
    <br><br>
        <a href="{% url 'users_app:profile' post.creator.id %}"><img src="{{ creator_profile.avatar.url }}" style="width: 3%; border-radius: 50%">{{ post.creator.email }}</a>
        <p>{{ post.publication_date }}</p>
        <img id="like-img" onclick="like(); return false;" src="{{like_img_url}}" style="width: 3%">
        <p style="display: inline" id="likes-data">
            {{ likes.count }}<a href="{% url 'posts_app:funs' post.id %}" style="color: #40E0D0">&emsp;<!--
            {% if likes.0 %}
                -->{{ likes.0 }}<!--
            {% endif %}
            {% if likes.1 %}
                -->, {{ likes.1 }}
            {% endif %}<!--
            {% if likes.2 %}
               --> ...
            {% endif %}
        </a>
        </p>
    </div>
{% endblock %}